{{ define "main_content" }}

<script type="module" charset="utf-8">

    import {getDay, getMonth, getYear, getHour, getMinute, buildGrid} from '/grid/js/src/main.js';
    // specify the columns
    var columnDefs = [
      {headerName: "ID", field: "id_trip", width: 60, filter: "agNumberColumnFilter"},
      {headerName: "Ship", field: "ship_name", width:150, filter: "agTextColumnFilter" },
      {headerName: "Type", field: "ship_type", width: 150, filter: "agTextColumnFilter",enableRowGroup: true,},
      {headerName: "GT", field: "gross_tonnage", width: 60, filter: "agNumberColumnFilter"},
      {headerName: "NT", field: "net_tonnage", width: 60, filter: "agNumberColumnFilter"},
      {headerName: "Width", field: "ship_width", width: 80, filter: "agNumberColumnFilter"},
      {headerName: "Length", field: "ship_length", width: 80, filter: "agNumberColumnFilter"},
      {
        headerName: "Arrival", 
        children: [
          {
            headerName: "Day", 
            field: "ts_sighting", 
            filter: "agNumberColumnFilter",
            valueGetter: (value) => {
              if (value.data){
                return getDay(value.data.ts_sighting);
              }
            },
            width: 80,
            enableRowGroup: true,
          },
          {
            headerName: "Month", 
            field: "ts_sighting", 
            filter: "agNumberColumnFilter",
            valueGetter: (value) => {
              if (value.data){
                return getMonth(value.data.ts_sighting);
              }
            },
            width: 80,
            enableRowGroup: true,
          },
          {
            headerName: "Year", 
            field: "ts_sighting", 
            filter: "agNumberColumnFilter",
            valueGetter: (value )=> {
              if (value.data){
                return getYear(value.data.ts_sighting);
              }
            },
            width: 80,
            enableRowGroup: true,
          },
          {
            headerName: "Hour", 
            field: "ts_sighting", 
            filter: "agNumberColumnFilter",
            valueGetter: (value) => {
              if (value.data){
                return getHour(value.data.ts_sighting);
              }
            },
            width: 80,
            enableRowGroup: true,
          },
          {
            headerName: "Month", 
            field: "ts_sighting", 
            filter: "agNumberColumnFilter",
            valueGetter: (value) => {
              if (value.data){
                return getMinute(value.data.ts_sighting);
              }
            },
            width: 80,
            enableRowGroup: true,
          },
      ]
      },
];

var eGridDiv = document.querySelector('#myGrid');

// let the grid know which columns to use
var gridOptions = {
    columnDefs: columnDefs,
    groupUseEntireRow: true,
    sideBar: true,
};

// create the grid passing in the div to use together with the columns & data we want to use
new agGrid.Grid(eGridDiv, gridOptions)

// lookup the container we want the Grid to use        
var uri = "".concat({{.SHIPFLOW_SERVER}}, "/arrivalsRegister/", {{.portinformer}}, "/", {{.ts_start}}, "/", {{.ts_stop}});

buildGrid(uri, gridOptions);

$("#excelExport").on('click', function onBtExport() {
  var params = {};
  gridOptions.api.exportDataAsExcel(params);
});


$("#print").on('click', function onBtPrint() {
  var gridApi = gridOptions.api;

  setPrinterFriendly(gridApi);

  setTimeout( function( ) {
      print();
      setNormal(gridApi);
  }, 2000);

});

function setPrinterFriendly(api) {
  var eGridDiv = document.querySelector('#myGrid');
  
  api.setDomLayout('print');
}

function setNormal(api) {
  var eGridDiv = document.querySelector('#myGrid');
  
  api.setDomLayout(null);
}


</script>

<label>
  <button id="excelExport"  style="margin: 5px; font-weight: bold;">Export to Excel</button>
</label>
<label>
  <button id="print"  style="margin: 5px; font-weight: bold;">Print</button>
</label>
<div id="myGrid" style="height: 100%;" class="ag-theme-balham"></div>
<div id="myGrid" style="height: 100%;" class="ag-theme-balham"></div>

{{ end }}


