{{ define "main_content" }}

<div id="myGrid" style="height: 100%;width:98%;" class="ag-theme-balham"></div>
<script type="module" charset="utf-8">

    import {getDay, getMonth, getYear, getHour, getMinute, buildGrid} from '../grid/js/src/main.js';
    // specify the columns
    var columnDefs = [
      {headerName: "Ship", field: "ship", filter: "agTextColumnFilter" },
      {headerName: "Type", field: "ship_type", width: 80, filter: "agTextColumnFilter"},
      //  grossTonnage, length, width, shippedGoods, tsPlannedMooring, tsReadiness

      {headerName: "Prevision DD/MM/YYYY HH:mm",
      children: [
          {
            headerName: "D", 
            field: "ts_arrival_prevision", 
            filter: "agNumberColumnFilter",
            valueGetter: (value) => {
              return getDay(value.data.ts_arrival_prevision);
            },
            width: 60,
          },
          {
            headerName: "M", 
            field: "ts_arrival_prevision", 
            filter: "agNumberColumnFilter",
            valueGetter: (value) => {
              return getMonth(value.data.ts_arrival_prevision);
            },
            width: 60,
          },
          {
            headerName: "Y", 
            field: "ts_arrival_prevision", 
            filter: "agNumberColumnFilter",
            valueGetter: (value )=> {
              return getYear(value.data.ts_arrival_prevision)
            },
            width: 60,
          },
          {
            headerName: "H", 
            field: "ts_arrival_prevision", 
            filter: "agNumberColumnFilter",
            valueGetter: (value) => {
              return getHour(value.data.ts_arrival_prevision);
            },
            width: 60,
          },
          {
            headerName: "m", 
            field: "ts_arrival_prevision", 
            filter: "agNumberColumnFilter",
            valueGetter: (value) => {
              return getMinute(value.data.ts_arrival_prevision);
            },
            width: 60,
          },
      ]
        },
      {
        headerName: "ISO3", field: "ship_flag", width: 80, filter: "agTextColumnFilter",
      },
      {
        headerName: "Agency", field: "agency", filter: "agTextColumnFilter",
      },
    ];

    // let the grid know which columns to use
    var gridOptions = {
      columnDefs: columnDefs
    };

  // lookup the container we want the Grid to use
  var eGridDiv = document.querySelector('#myGrid');

  // create the grid passing in the div to use together with the columns & data we want to use
  new agGrid.Grid(eGridDiv, gridOptions)

  
  // lookup the container we want the Grid to use        
  var uri = "".concat({{.SHIPFLOW_SERVER}}, "/arrivalPrevisions/", {{.portinformer}});
  
  buildGrid(uri, gridOptions);

  window.setInterval(()=>{
    Pace.restart();
    buildGrid(uri, gridOptions);
  }, 60000);


</script>


{{ end }}


