{{ define "main_content" }}

<div id="myGrid" style="height: 100%;width:98%;" class="ag-theme-balham"></div>
<script type="module" charset="utf-8">

    import {getDay, getMonth, getYear, getHour, getMinute} from '../grid/js/build/main.js';
    // specify the columns
    var columnDefs = [
      {headerName: "id", field: "id_trip", width: 60, filter: "agNumberColumnFilter"},
      {headerName: "Ship", field: "ship_name", filter: "agTextColumnFilter" },
      {headerName: "Type", field: "ship_type", width: 80, filter: "agTextColumnFilter"},
      //  grossTonnage, length, width, shippedGoods, tsPlannedMooring, tsReadiness

      {headerName: "Anchored DD/MM/YYYY HH:mm",
      children: [
          {
            headerName: "D", 
            field: "ts_out_of_sight", 
            filter: "agNumberColumnFilter",
            valueGetter: (value) => {
              return getDay(value.data.ts_out_of_sight);
            },
            width: 60,
          },
          {
            headerName: "M", 
            field: "ts_out_of_sight", 
            filter: "agNumberColumnFilter",
            valueGetter: (value) => {
              return getMonth(value.data.ts_out_of_sight);
            },
            width: 60,
          },
          {
            headerName: "Y", 
            field: "ts_out_of_sight", 
            filter: "agNumberColumnFilter",
            valueGetter: (value )=> {
              return getYear(value.data.ts_out_of_sight)
            },
            width: 60,
          },
          {
            headerName: "H", 
            field: "ts_out_of_sight", 
            filter: "agNumberColumnFilter",
            valueGetter: (value) => {
              return getHour(value.data.ts_out_of_sight);
            },
            width: 60,
          },
          {
            headerName: "m", 
            field: "ts_out_of_sight", 
            filter: "agNumberColumnFilter",
            valueGetter: (value) => {
              return getMinute(value.data.ts_out_of_sight);
            },
            width: 60,
          },
      ]
        },
      {
        headerName: "ISO3", field: "ship_flag", width: 80, filter: "agTextColumnFilter",
      },
      {
        headerName: "Agency", field: "agency", filter: "agTextColumnFilter",
      },
    ];

    // let the grid know which columns to use
    var gridOptions = {
      columnDefs: columnDefs
    };

  // lookup the container we want the Grid to use
  var eGridDiv = document.querySelector('#myGrid');

  // create the grid passing in the div to use together with the columns & data we want to use
  new agGrid.Grid(eGridDiv, gridOptions)

  
  agGrid.simpleHttpRequest({url: '{{.SHIPFLOW_SERVER}}/departuresToday/{{.portinformer}}'}).then(function(data) {
      gridOptions.api.setRowData(data);
  });


</script>


{{ end }}


