{{ define "main_content" }}

<label>
  <button id="excelExport"  style="margin: 5px; font-weight: bold;">Export to Excel</button>
</label>
<label>
  <button id="print"  style="margin: 5px; font-weight: bold;">Print</button>
</label>

<div id="myGrid" style="height: 100%;width:98%;" class="ag-theme-balham"></div>
<script type="module" charset="utf-8">
    import {CustomDateComponent} from '../grid/js/src/custom_filters.js';
    import {getDay, getMonth, getYear, getHour, getMinute, buildGrid} from '../grid/js/src/main.js';
    // specify the columns
    var columnDefs = [
      {headerName: "id", field: "id_trip", width: 60, filter: "agNumberColumnFilter"},
      {headerName: "Ship", field: "ship_name", filter: "agTextColumnFilter" },
      {headerName: "Type", field: "ship_type", width: 80, filter: "agTextColumnFilter", enableRowGroup: true,},
      //  grossTonnage, length, width, shippedGoods, tsPlannedMooring, tsReadiness

      {headerName: "Departure",
      children: [
      {
        headerName: "Date", 
        width: 120, 
        field: "ts_out_of_sight",
        valueGetter: (value) => {
          if (value.data){
            return moment(value.data.ts_out_of_sight, "YYYY-MM-DD HH:mm").format("DD/MM/YYYY")
          }
        },
        filter:"agDateColumnFilter", 
        filterParams:{
          comparator:function (filterLocalDateAtMidnight, cellValue){
              var dateAsString = cellValue.split(" ")[0];
              if (dateAsString == null) return -1;
              var dateParts  = dateAsString.split("/");
              var cellDate = new Date(Number(dateParts[2]), Number(dateParts[1]) - 1, Number(dateParts[0]));
              if (filterLocalDateAtMidnight.getTime() == cellDate.getTime()) {
                  return 0
              }
  
              if (cellDate < filterLocalDateAtMidnight) {
                  return -1;
              }
  
              if (cellDate > filterLocalDateAtMidnight) {
                  return 1;
              }
          }
        },
        enableRowGroup: true,
      },
      {
        headerName: "HH", 
        width: 80, 
        field: "ts_out_of_sight",
        valueGetter: (value) => {
          if (value.data){
            return moment(value.data.ts_out_of_sight, "YYYY-MM-DD HH:mm").format("HH")
          } 
        },
        filter: "agNumberColumnFilter"
      },
      {
        headerName: "mm", 
        width: 80, 
        field: "ts_out_of_sight",
        valueGetter: (value) => {
          if (value.data){
            return moment(value.data.ts_out_of_sight, "YYYY-MM-DD HH:mm").format("mm")
          } 
        },
        filter: "agNumberColumnFilter"
      },
      ]
        },
      {
        headerName: "ISO3", field: "ship_flag", width: 80, filter: "agTextColumnFilter", enableRowGroup: true,
      },
      {
        headerName: "Agency", field: "agency", filter: "agTextColumnFilter", enableRowGroup: true,
      },
    ];

    var gridOptions = {
      sideBar: true,
      defaultColDef: {
        resizable: true,
        sortable: true,
      },
      components: {
        agDateInput: CustomDateComponent
      },
      animateRows: true,
      columnDefs: columnDefs,
      onGridReady: function(params) {
        var defaultSortModel = [
                {colId: "timestamp", sort: "asc"},
            ];
        params.api.setSortModel(defaultSortModel);
      },
      groupDefaultExpanded: -1,
      enableRangeSelection: true,
      statusBar: {
      statusPanels: [
        { statusPanel: 'agTotalAndFilteredRowCountComponent', align: 'left' },
        { statusPanel: 'agAggregationComponent', align: 'right'},
        { statusPanel: 'agFilteredRowCountComponent' },
        { statusPanel: 'agSelectedRowCountComponent', align: 'center' },    
      ]
      },
    }


  // lookup the container we want the Grid to use
  var eGridDiv = document.querySelector('#myGrid');

  // create the grid passing in the div to use together with the columns & data we want to use
  new agGrid.Grid(eGridDiv, gridOptions)

  
  // lookup the container we want the Grid to use        
  var uri = "".concat({{.SHIPFLOW_SERVER}}, "/departuresToday/", {{.portinformer}});
  
  buildGrid(uri, gridOptions);

  $("#print").on('click', function onBtPrint() {
    var gridApi = gridOptions.api;
  
    setPrinterFriendly(gridApi);
  
    setTimeout( function( ) {
        print();
        setNormal(gridApi);
    }, 2000);
  
  });
  
  function setPrinterFriendly(api) {
    var eGridDiv = document.querySelector('#myGrid');
    
    api.setDomLayout('print');
  }
  
  function setNormal(api) {
    var eGridDiv = document.querySelector('#myGrid');
    
    api.setDomLayout(null);
  }
  


  window.setInterval(()=>{
    Pace.restart();
    buildGrid(uri, gridOptions);
  }, 60000);


</script>


{{ end }}


