{{ define "main_content" }}

<div id="myGrid" style="height: 100%;width:98%;" class="ag-theme-balham"></div>
<script type="module" charset="utf-8">

    import {getDay, getMonth, getYear, getHour, getMinute, buildGrid} from '../grid/js/build/main.js';
    // specify the columns
    var columnDefs = [
      {headerName: "id", field: "id_trip", width: 60, filter: "agNumberColumnFilter"},
      {headerName: "Ship", field: "ship", filter: "agTextColumnFilter" },
      {headerName: "Type", field: "ship_type", width: 80, filter: "agTextColumnFilter"},
      
      {headerName: "Mooring DD/MM/YYYY HH:mm",
      children: [
          {
            headerName: "D", 
            field: "mooring_time", 
            filter: "agNumberColumnFilter",
            valueGetter: (value) => {
              return getDay(value.data.mooring_time);
            },
            width: 60,
          },
          {
            headerName: "M", 
            field: "mooring_time", 
            filter: "agNumberColumnFilter",
            valueGetter: (value) => {
              return getMonth(value.data.mooring_time);
            },
            width: 60,
          },
          {
            headerName: "Y", 
            field: "mooring_time", 
            filter: "agNumberColumnFilter",
            valueGetter: (value )=> {
              return getYear(value.data.mooring_time)
            },
            width: 60,
          },
          {
            headerName: "H", 
            field: "mooring_time", 
            filter: "agNumberColumnFilter",
            valueGetter: (value) => {
              return getHour(value.data.mooring_time);
            },
            width: 60,
          },
          {
            headerName: "m", 
            field: "mooring_time", 
            filter: "agNumberColumnFilter",
            valueGetter: (value) => {
              return getMinute(value.data.mooring_time);
            },
            width: 60,
          },
      ]
        },
      {
          headerName: "Quay", field: "quay", filter: "agTextColumnFilter",
      },
      {
        headerName: "Shipping", field: "shipped_goods", filter: "agTextColumnFilter", resizable: true,
      },
      {
        headerName: "ISO3", field: "iso3", width: 80, filter: "agTextColumnFilter",
      },
];

var eGridDiv = document.querySelector('#myGrid');

// let the grid know which columns to use
var gridOptions = {
    columnDefs: columnDefs
};

// create the grid passing in the div to use together with the columns & data we want to use
new agGrid.Grid(eGridDiv, gridOptions)

// lookup the container we want the Grid to use        
var uri = "".concat({{.SHIPFLOW_SERVER}}, "/moored/", {{.portinformer}});

window.setInterval(()=>{
  buildGrid(uri, gridOptions);
}, 60000);

</script>


{{ end }}


