{{ define "main_content" }}

<div id="myGrid" style="height: 100%;width:98%;" class="ag-theme-balham"></div>
<script type="module" charset="utf-8">

    import {getDay, getMonth, getYear, getHour, getMinute, buildGrid} from '../grid/js/src/main.js';
    // specify the columns
    var columnDefs = [
      {headerName: "id", field: "id_trip", width: 60, filter: "agNumberColumnFilter"},
      {headerName: "Ship", field: "ship_name", filter: "agTextColumnFilter" },
      {headerName: "Type", field: "ship_type", width: 80, filter: "agTextColumnFilter", enableRowGroup: true,},
      //  grossTonnage, length, width, shippedGoods, tsPlannedMooring, tsReadiness
      {
        headerName: "ISO3", field: "ship_flag", width: 80, filter: "agTextColumnFilter", enableRowGroup: true,
      },
      {
        headerName: "Cont", field: "num_container", width: 80, filter: "agNumberColumnFilter", enableRowGroup: true,
      },
      {
        headerName: "Pax", field: "num_passengers", width: 80, filter: "agNumberColumnFilter", enableRowGroup: true,
      },
      {
        headerName: "Cam", field: "num_camion", width: 80, filter: "agNumberColumnFilter", enableRowGroup: true,
      },
      {
        headerName: "Furg", field: "num_furgoni", width: 80, filter: "agNumberColumnFilter", enableRowGroup: true,
      },
      {
        headerName: "Trails", field: "num_rimorchi", width: 80, filter: "agNumberColumnFilter", enableRowGroup: true,
      },
      {
        headerName: "Cars", field: "num_auto", width: 80, filter: "agNumberColumnFilter", enableRowGroup: true,
      },
      {
        headerName: "Moto", field: "num_moto", width: 80, filter: "agNumberColumnFilter", enableRowGroup: true,
      },
      {
        headerName: "Camp", field: "num_camper", width: 80, filter: "agNumberColumnFilter", enableRowGroup: true,
      },
      {
        headerName: "Bus", field: "num_bus", width: 80, filter: "agNumberColumnFilter", enableRowGroup: true,
      },
      {
        headerName: "Minibus", field: "num_minibus", width: 80, filter: "agNumberColumnFilter", enableRowGroup: true,
      },
      {
        headerName: "Op", field: "mvnt_type", width: 80, filter: "agNumberColumnFilter", enableRowGroup: true,
      },
      {
        headerName: "Quay", field: "quay", width: 80, filter: "agNumberColumnFilter", resizable: true, enableRowGroup: true,
      },
    ];

    // let the grid know which columns to use
    var gridOptions = {
      sideBar: true,
      defaultColDef: {
        resizable: true,
        sortable: true,
      },
      columnDefs: columnDefs,
      groupDefaultExpanded: -1,
    }

  // lookup the container we want the Grid to use
  var eGridDiv = document.querySelector('#myGrid');

  // create the grid passing in the div to use together with the columns & data we want to use
  new agGrid.Grid(eGridDiv, gridOptions)

  
  // lookup the container we want the Grid to use        
  var uri = "".concat({{.SHIPFLOW_SERVER}}, "/trafficListToday/", {{.portinformer}});
  
  buildGrid(uri, gridOptions);

  window.setInterval(()=>{
    Pace.restart();
    buildGrid(uri, gridOptions);
  }, 60000);


</script>


{{ end }}


